#banner-container {
    position: relative;
    height: 100vh;
  }
  
  .form-container {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    opacity: 1;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background-color: #f4f4f5; 
    border: 1px solid rgb(212, 211, 211);
    border-radius: 1px;
  }
  
  .form-control::placeholder {
    color: rgb(153, 152, 152);
    font-size: 0.8rem;
    font-weight: 400;
  }
  .SignUp {
    background-color: rgb(126, 184, 241);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    border-color: rgb(126, 184, 241);
  }
  
  big {
    color: rgb(65, 24, 214);
  }
  
  .checkbox a {
    text-decoration: none;
  }
  
  .checkbox a:hover {
    text-decoration: underline;
  }
  
  .text-small {
    font-size: 0.62rem;
    text-align: justify;
  }
  
  .line-bar {
    width: 115px;
    border: 0.5px solid rgb(182, 180, 180);
    height: 1px;
    color: gray;
  }
  
  .content-container p {
    font-size: 0.8rem;
    color: gray;
    font-weight: 400;
  }
  
  form .invalid-feedback {
    font-size: 0.6rem;
    text-align: left;
    font-weight: 500;
  }
  
  @media (max-width: 600px) {
    .container-sm {
      width: 100%;
    }
  }
  